<launch>
  <!-- Load the URDF description from the parameter server -->
  <param name="robot_description" textfile="$(find robot_arm_urdf_v5)/urdf/robot_arm_urdf_v5.urdf" />

  <!-- Load the SRDF description -->
  <param name="robot_description_semantic" textfile="$(find moveit_cfg)/config/robot_arm_urdf_v5.srdf" />

  <!-- Start the robot state publisher -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />

  <!-- Start the joint state publisher -->
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="true" />
  </node>

  <!-- Start the MoveIt nodes -->
  <include file="$(find moveit_cfg)/launch/move_group.launch" />
  <include file="$(find moveit_cfg)/launch/planning_context.launch" />
</launch>